* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #1992d4;
  --primary-color-hover: #157eb7;
  --secondary-color: #f0b429;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e2e8ef;
  --primary-text-color: #000000;
  --inverted-text-color: #ffffff;
  --secondary-text-color: #636363;
  --shadow-color: #ccd1d9;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / 300px 1fr;
}

header {
  z-index: 1;
  padding: 20px 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 3px 3px 0px var(--shadow-color);
  grid-area: header;
  display: grid;
  grid-template: repeat(2, min-content) / 3fr 2fr;
  align-items: center;
  gap: 30px;

  .search {
    display: grid;
    grid-template-columns: min-content 1fr;

    input {
      border: none;
      padding: 5px;
      border-radius: 50px;
      background-color: var(--secondary-background-color);
    }
  }

  .user-info {
    display: grid;
    grid-template-columns: repeat(2, min-content) max-content;
    justify-content: end;
    padding-right: 15px;
  }

  .greeting {
    display: grid;
    grid-template-columns: min-content max-content;
    font-size: 0.8rem;

    .name {
      font-size: 1.2rem;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 20px;

    button {
      border: none;
      padding: 10px 30px;
      border-radius: 50px;
      color: var(--inverted-text-color);
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--primary-color);
      }
    }
  }
}

nav {
  z-index: 2;
  color: var(--inverted-text-color);
  background-color: var(--primary-color);
  grid-area: nav;
  display: grid;
  grid-template-rows: min-content 1fr;

  .branding {
    display: grid;
    grid-template-columns: min-content 1fr;

    h1 {
      padding: 20px;
      font-size: 2rem;
    }
  }

  .navigation {
    ul {
      padding: 20px;
      list-style-type: none;
      font-size: 1.5rem;
      display: grid;
      grid-template-rows: repeat(9, min-content);

      &>li {
        display: grid;
        grid-template-columns: min-content 1fr;

        &:nth-child(7) {
          margin-top: 50px;
        }
      }
    }

    a {
      padding: 5px;
      border-radius: 5px;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: var(--primary-color-hover);
      }
    }
  }
}

main {
  background-color: var(--secondary-background-color);
  grid-area: main;
  display: grid;
  grid-template:
    "projects announcements"
    "projects trending" / 1fr 300px;
  gap: 40px 20px;
  padding: 20px;

  .projects,
  .announcements,
  .trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
  }

  .projects {
    grid-area: projects;

    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px 25px;
    }

    .card {
      background: linear-gradient(to right, var(--secondary-color) 10px, var(--primary-background-color) 10px);
      padding: 40px 30px;
      text-decoration: none;
      color: var(--primary-text-color);
      border-radius: 10px;
      box-shadow: 0px 3px 3px 0px var(--shadow-color);
      display: grid;
      grid-template-rows: min-content 1fr min-content;

      p {
        color: var(--secondary-text-color);
      }

      .actions {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-content: end;
        gap: 20px;
      }
    }
  }

  .announcements {
    grid-area: announcements;

    .content {
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
    }

    .post {
      padding: 5px;
      text-decoration: none;
      color: var(--primary-text-color);
      font-size: 0.9rem;

      p {
        color: var(--secondary-text-color);
      }

      &:not(:last-child) {
        border-bottom: 2px solid var(--secondary-background-color);
      }

      &:hover {
        background-color: var(--secondary-background-color);
        border-radius: 5px;
      }
    }
  }

  .trending {
    grid-area: trending;
  }
}