* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #1992d4;
  --primary-color-hover: #157eb7;
  --secondary-color: #f0b429;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e2e8ef;
  --primary-text-color: #000000;
  --inverted-text-color: #ffffff;
  --secondary-text-color: #636363;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / 300px 1fr;
}

header {
  background-color: var(--primary-background-color);
  grid-area: header;
}

nav {
  background-color: #1992d4;
  grid-area: nav;
}

main {
  background-color: var(--secondary-background-color);
  grid-area: main;
}