* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #1992d4;
  --primary-color-hover: #157eb7;
  --secondary-color: #f0b429;
  --primary-background-color: #ffffff;
  --secondary-background-color: #e2e8ef;
  --primary-text-color: #000000;
  --inverted-text-color: #ffffff;
  --secondary-text-color: #636363;
  --shadow-color: #ccd1d9;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / 300px 1fr;
}

header {
  z-index: 1;
  padding: 20px 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 3px 3px 0px var(--shadow-color);
  grid-area: header;
  display: grid;
  grid-template: repeat(2, min-content) / 3fr 2fr;
  align-items: center;
  gap: 30px;

  .search {
    display: grid;
    grid-template-columns: min-content 1fr;

    input {
      border: none;
      padding: 5px;
      border-radius: 50px;
      background-color: var(--secondary-background-color);
    }
  }

  .user-info {
    display: grid;
    grid-template-columns: repeat(2, min-content) max-content;
    justify-content: end;
    padding-right: 15px;
  }

  .greeting {
    display: grid;
    grid-template-columns: min-content max-content;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 20px;

    button {
      border: none;
      padding: 10px 30px;
      border-radius: 50px;
      color: var(--inverted-text-color);
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--primary-color);
      }
    }
  }
}

nav {
  z-index: 2;
  color: var(--inverted-text-color);
  background-color: var(--primary-color);
  grid-area: nav;
  display: grid;
  grid-template-rows: min-content 1fr;

  .branding {
    display: grid;
    grid-template-columns: min-content 1fr;

    h1 {
      padding: 20px;
      font-size: 2rem;
    }
  }

  .navigation {
    ul {
      padding: 20px;
      list-style-type: none;
      font-size: 1.5rem;
      display: grid;
      grid-template-rows: repeat(9, min-content);

      &>li {
        display: grid;
        grid-template-columns: min-content 1fr;

        &:nth-child(7) {
          margin-top: 50px;
        }
      }
    }

    a {
      padding: 5px;
      border-radius: 5px;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: var(--primary-color-hover);
      }
    }
  }
}

main {
  background-color: var(--secondary-background-color);
  grid-area: main;
}